* {
  margin: 0;
  padding: 0
}

body {
  background-color: #9e9e9e;
}

.chat-main-all {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.chat-main-block {
  padding: 20px;
  background-color: white;
  border: #9e9e9e 1px solid;
  border-radius: 10px;
  height: 90vh;
  overflow: hidden;
}

/*------------以下class用來做左側的縮放攔用------------*/
.sideMenu {
  position: relative;
  transform: translateX(-50%);
  transition: 0.5s;
}

.side-label {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: #d1d1d1;
  color: #686666;
  left: 120px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 80px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 0 5px hsla(240, 40%, 15%, .6);
}

.sideMenu--active:checked + .sideMenu {
  transform: translateX(100%);
}

.sideMenu--active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.rotate-arrow {
  transform: rotate(180deg);
}

/*----------------------------------*/
/*-------------左側區域---------------*/
.chatRooms-block {
  height: 60vh;
  overflow-y: scroll;
}

.chat-avatar {
  width: 65px;
  height: 65px;
}

.chatroom-block {
  border: #c99898 1px groove;
  margin-bottom: 5px;
  line-height: 35px;
  min-width: 180px;
  height: 80px
}

.chat-target {
  font-size: 22px;
  font-weight: bold;
}

.chat-trim-text {
  font-size: 14px;
  color: grey;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*----------------------------------*/
/*-------------右側區域---------------*/

.chat-main-block-right {
  overflow-y: scroll;
  margin-bottom: 20px
}

.date-divide {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaaaaa;
  line-height: 0.1em;
  margin: 20px 0 30px 0;
}

.date-change {
  color: lightslategray;
  background: #fff;
  padding: 5px 20px;
}

.chat-inside-block {
  overflow-y: scroll;
  height: 60vh;
  border: 1px solid grey;
}

/*----------------------------------*/
/*-------------文字輸入送出---------------*/
.input-message {
  font-size: 20px;
  padding: 20px;
  height: 7px;
  resize: none;
}

.message-time {
  color: #b3b3b3;
  font-size: 14px;
}

.message-content {
  border: #0a53be 1px solid;
  border-radius: 5px;
  padding: 10px;
  word-wrap: break-word
}

.btn-send-message {
  border-radius: 10px;
  box-shadow: #b3b3b3;
}
