/*以下的這種寫法是在CSS裡面帶入變數的概念
變數名稱為--tenant-height , 值為 : 後的內容

使用上
  height: var(--tenant-height);
如果要做計算
   height: calc(var(--tenant-height ) - 80px);
*/

:root {
  --tenant-height: 400px;;
}

/*-----------------*/

body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

select {
  border: none;
  outline: none;
}

div {
  font-size: 14px;
}
/*-----------------*/

.room-type-select, .tenant-information {
  height: var(--tenant-height);
}

.tenant-information {
  border-radius: 20px;
  background-color: white;
}

.select-block {
  justify-content: space-around;
  height: calc(var(--tenant-height) - 80px);
  padding-top: 5px;
  padding-bottom: 10px;
}

.select-regin {
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  margin: 5px;
  padding: 1%;
}

/*-----------------*/
.material-icons {
  font-size: 36px;
  margin-right: -15px;
  margin-left: -15px
}

.room-type-main-block {
  margin-top: 2%;
  margin-left: 0;
  margin-right: 0;
}

.room-type-main-side-block {
  height: 400px;
  margin-bottom: 15px;
}

.room-type-side-regin {
  border-radius: 20px;
  margin-top: 20px;
  height: inherit;
  border: 1px white solid;
  background-color: #fff;
}

.room-type-notice {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

#img-slide-block {
  max-height: 320px
}

.img-height {
  max-height: 305px;
}
/*-------------------------*/
