.myList{
    list-style: none;
    padding-inline-start: 50px;
    background: rgb(39, 221, 180);
}
.myList li{
    display: inline-block;
    margin-right: 60px;
    color: white;
    padding: 10px 0px;
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F8FA;
}
select{
    width: 130px;
    border: none;
    outline: none;
}
/* from roomType.css */
div {
  font-size: 16px;
}

/*以下的這種寫法是在CSS裡面帶入變數的概念
變數名稱為--tenant-height , 值為 : 後的內容

使用上
  height: var(--tenant-height);
如果要做計算
   height: calc(var(--tenant-height ) - 80px);
*/

:root {
  --tenant-height: 450px;;
}

/*-----------------*/

.room-type-select {
  height: var(--tenant-height);
}

.tenant-information {
  border-radius: 20px;
  background-color: white;
}

.select-block {
  justify-content: space-around;
  height: calc(var(--tenant-height) - 80px);
  padding-top: 5px;
  padding-bottom: 10px;
}

.select-regin {
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  margin: 5px;
  padding: 1%;
}

.material-icons {
  font-size: 40px;
  margin-right: -15px;
  margin-left: -15px
}

/*-----------------*/

.room-type-main-block {
  margin-top: 2%;
  margin-left: 0;
  margin-right: 0;
}

.room-type-main-side-block {
  height: 400px;
  margin-bottom: 15px;
}

.room-type-side-regin {
  border-radius: 20px;
  margin-top: 20px;
  height: inherit;
  border: 1px white solid;
  background-color: #fff;
}

.room-type-notice {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

#img-slide-block {
  max-height: 320px
}

.img-height {
  max-height: 305px;
}
