/*以下的這種寫法是在CSS裡面帶入變數的概念
變數名稱為--tenant-height , 值為 : 後的內容
使用上
  height: var(--tenant-height);
如果要做計算
   height: calc(var(--tenant-height ) - 80px);
*/
/*-----------------*/

body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

select {
  border: none;
  outline: none;
}

div {
  font-size: 14px;
}

/*-----------------*/
.room-type-title {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px grey solid;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.select-regin {
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  margin: 5px;
  padding: 1%;
}

/*-----------------*/
.material-icons {
  font-size: 36px;
  margin-right: -15px;
  margin-left: -15px;
  cursor: default;
}

.room-type-title {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px grey solid;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.room-type-main-block {
  margin-top: 2%;
  margin-left: 0;
  margin-right: 0;
}

.room-type-main-side-block {
  height: 400px;
  margin-bottom: 15px;
}

.room-type-side-regin {
  border-radius: 20px;
  margin-top: 20px;
  height: inherit;
  border: 1px grey solid;
  background-color: #fff;
}

.room-type-side-left-text {
  font-size: 18px;
}


.room-type-notice {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

.img-height {
  max-height: 295px;
}
/*-------------------------*/
.change-behavior:hover {
  cursor: pointer;

}
